body {
    background-color: #7CA3B1;
    color: white;
    text-align: center;
     
}

a{text-decoration: none;}


h4 {
    font-family: "Lucida Console";
    font-style:initial;
    color: #61A5C2;
}

#wrapper {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header nav nav"
        "edu pro skills"
        "edus pros skills"
        "awd awd trophy"
        "co com pics"
        "ex ex picss"
        "footer footer footer"; 
        
    grid-row-gap: 10px;
        
}


#wrapper2 {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 

         "edu pro skills"
        "edus pros skills"
        "awd awd trophy"
        "co com pics"
        "ex ex picss"
        "footer footer footer"; 
        
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 20px;
    font-family: "Roboto";
}


#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas: "home showcase aboutme cultural "
    "nav2 nav2 nav2 nav2";
  grid-gap: 16px;
    

}


#header {
    grid-area: header;
    background-color: #9CCADB;
    color: white;
  
    font-family:  "STCaiyun";
    font-size: 40px;
}

#nav {
    grid-area: nav;
    background-color: #9CCADB;
    padding: 10px;
   font-family: "Impact";
    font-style: italic;
}


#nav2 {
    background-color: ##9CCADB;
    grid-area: nav2;
    
}


#home {
    grid-area: home;
   background-color: #3D9CBF;
    padding: 15px;

}

#aboutme {
    grid-area: aboutme;
    background-color: #3D9CBF;
    padding: 15px;

}

#cultural {
    grid-area: cultural; 
    background-color: #3D9CBF;
    padding: 15px;

}

#showcase {
    grid-area: showcase;
    background-color: #3D9CBF;
  padding: 15px;
}


#edu {
    grid-area: edu;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
}



#pro {
    grid-area: pro;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
}

#skills {
    grid-area: skills;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
    padding: 10px;
}

#edus {
    grid-area: edus;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
    
}

#pros {
    grid-area: pros;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
    
}

#awd {
    grid-area: awd;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
        flex-direction: column;
    padding: 10px;
    
}

#trophy {
    grid-area: trophy;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
}

#co {
    grid-area: co;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
        flex-direction: column;
    padding: 10px;
}

#com {
    grid-area: com;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
        flex-direction: column;

}

#pics {
    grid-area: pics;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
}

#ex {
    grid-area: ex;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;
        flex-direction: column;
    padding: 10px;
}
#picss {
    grid-area: picss;
    background-color: white;
    color: black;
    display: flex;
  align-items: center;
  justify-content: center;

}


.footer {
    grid-area: footer;
    background-color: #9CCADB;
    color: black;
    font-family: "Comic Sans MS";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.left-align {
  display: flex;
  align-items: center;
}


.social-media {
  display: flex;
  align-items: center;
}


.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.gap {
    width: 10px;
}

.social-media span {
  margin-right: 5px;
}


.right-align {
   margin-left: auto;
  text-align: right;
}


































